.BottomContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Papyrus, fantasy;
  .BottomIntro {
    width: 50%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .BottomIntroTitle {
      font-size: 5rem;
      margin: 2rem;
    }
    .BottomIntroBody {
      font-size: 2rem;
      line-height: 2;
    }
    .BottomIntroButton {
      border: 0;
      width: 25rem;
      height: 3rem;
      margin: 1rem;
      background-color: black;
      color: white;
      font-size: 1.5rem;
      font-family: Papyrus, fantasy;
      border-radius: 25rem;
    }
    .BottomIntroButton:hover {
      cursor: pointer;
      background-color: white;
      color: black;
    }
  }
  .Clickable:hover {
    cursor: pointer;
  }
  .BottomOptions {
    width: 15rem;
    height: 5rem;
    position: absolute;
    background: lightgray;
    border: 0.5rem solid black;
    font-size: 2rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .BottomOptions:hover {
    cursor: pointer;
    background: white;
    color: black;
  }
}
