@import 'mixins.less';

@media (min-width: 320px) {
  .character {
    .containers(@width: 100vw, @height: 100vh);
    .character__title {
      .titles(@fontSize: 2.5rem, @margin: 0.25rem 0, @height: auto);
      text-decoration: underline;
    }
    .character__statsContainer {
      .containers(@alignItems: space-around, @width: 95%, @height: auto);
      .character__statsContainer__half {
        .containers(@justifyContent: flex-start, @alignItems: flex-start, @padding: 0.1rem 0 0 0, @fontSize: 1rem);
        .character__statsContainer__half__stat {
          width: 100%;
          padding: 0.2rem;
          align-items: center;
          .character__statsContainer__half__stat__value {
            padding-left: 1rem;
            width: 50%;
            float: right;
          }
        }
      }
      #levelxp__interior--left {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 50%;
      }
      #levelxp__interior--right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        padding-left: 1rem;
      }
      #levelxp {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }
    }
    .character__symbols {
      .containers(@flexDirection: row, @justifyContent: space-around, @height: auto);
      .character__symbols__symbol {
        .containers(@width: 3.125rem, @height: 3.125rem);
        .symbols(@margin: 0);
        .character__symbols__symbol__stat {
          font-size: 1rem;
          position: relative;
        }
      }
    }
    .character__gear {
      .containers(@width: 95%, @height: 40%);
      .character__gear__title {
        .titles(@fontSize: 2rem, @margin: 0.5rem 0 0 0);
        align-self: center;
      }
      .character__gear__items {
        .containers(@alignItems: flex-start, @justifyContent: flex-start, @flexDirection: column);
        overflow: auto;
        .character__gear__items__item {
          width: 100%;
          height: 1.5rem;
          padding: 0.5rem 1rem 0 0;
          font-size: 1.2rem;
        }
      }
    }
    .character__options {
      .containers(@height: 10%, @justifyContent: space-around, @flexDirection: row);
      .character__options__buttons {
        .commonButtons(@width: 40%, @fontSize: 1rem);
      }
    }
  }
}

@media (min-width: 480px) {
  .character {
    .character__title {
      .titles(@fontSize: 2rem, @margin: 0.25rem 0, @height: auto);
    }
    .character__statsContainer {
      .containers(@flexDirection: row, @alignItems: space-around, @height: auto);
      .character__statsContainer__half {
        .containers(@flexDirection: column, @justifyContent: space-between, @margin:0, @fontSize: 1rem, @width: 50%);
        .character__statsContainer__half__stat {
          .character__statsContainer__half__stat__value {
            width: 60%;
            padding: 0;
          }
        }
      }
      #levelxp__interior--left {
        width: 40%;
      }
      #levelxp__interior--right {
        padding: 0;
        width: 60%;
      }
    }
    .character__symbols {
      .containers(@flexDirection: row, @justifyContent: space-around, @height: auto);
      .character__symbols__symbol {
        .containers(@width: 3.125rem, @height: 3.125rem);
        .symbols(@margin: 0);
        .character__symbols__symbol__stat {
          font-size: 1rem;
          position: relative;
        }
      }
    }
    .character__gear {
      .containers(@width: 95%, @height: 30%);
      .character__gear__title {
        .titles(@fontSize: 1.5rem, @margin: 0.5rem 0 0 0);
        align-self: center;
      }
      .character__gear__items {
        .containers(@alignItems: flex-start, @justifyContent: flex-start, @flexDirection: column);
        overflow: auto;
        .character__gear__items__item {
          width: auto;
          height: 1.5rem;
          padding: 0.5rem 1rem 0 0;
          font-size: 1rem;
        }
      }
    }
    .character__options {
      .containers(@height: auto, @justifyContent: space-around, @flexDirection: row);
      .character__options__buttons {
        .commonButtons(@width: 40%, @fontSize: 1rem);
      }
    }
  }
}

@media screen and (min-width: 640px) and (min-height: 1024px) {
  .character {
    .containers(@width: 100vw, @height: 100vh);
    .character__title {
      .titles(@fontSize: 5rem, @margin: 2rem 0 0 0, @height: 15%);
    }
    .character__statsContainer {
      .containers(@flexDirection: row, @alignItems: space-around, @width: 90%, @height: 20%);
      .character__statsContainer__half {
        .containers(
          @flexDirection: column,
          @justifyContent: space-between,
          @margin: 0 1rem 1rem 1rem,
          @fontSize: 1.5rem,
          @width: 50%
        );
        .character__statsContainer__half__stat {
          .character__statsContainer__half__stat__value {
            font-size: 1.3rem;
            width: 60%;
            float: right;
          }
        }
      }
      #levelxp__interior {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 50%;
      }
      #levelxp {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }
    }
    .character__symbols {
      .containers(@flexDirection: row, @justifyContent: space-around, @height: 15%);
      .character__symbols__symbol {
        .containers(@width: 6.25rem, @height: 6.25rem);
        .symbols(@margin: 0, @backgroundSize: 6.25rem);
        .character__symbols__symbol__stat {
          position: relative;
          font-size: 2rem;
        }
      }
    }
    .character__gear {
      display: flex;
      flex-direction: column;
      width: 90%;
      height: 20%;
      .character__gear__title {
        .titles(@fontSize: 3rem, @margin: 1rem 0, @height: auto);
      }
      .character__gear__items {
        .containers(@flexDirection: row, @justifyContent: space-around, @alignItems: stretch);
        flex-wrap: wrap;
        .character__gear__items__item {
          font-size: 1.5rem;
          padding: 0.2rem;
          width: 50%;
        }
      }
    }
    .character__options {
      .containers(@height: 15%, @width: 90%, @justifyContent: space-around, @flexDirection: row);
      .character__options__buttons {
        border: 0;
        width: 30%;
        height: 6rem;
        margin: 0.3rem;
        background-color: black;
        color: white;
        font-size: 2rem;
        font-family: Papyrus, fantasy;
        border-radius: 25rem;
      }
      .character__options__buttons:hover {
        cursor: pointer;
        background-color: white;
        color: black;
      }
    }
  }
}

@media (min-width: 1024px) {
  .character {
    .containers(@width: 100vw, @height: 100vh);
    .character__title {
      .titles(@fontSize: 5rem, @margin: 1rem 0, @height: 10%);
    }
    .character__statsContainer {
      .containers(@flexDirection: row, @alignItems: space-around, @width: 90%, @height: 20%);
      .character__statsContainer__half {
        .containers(
          @flexDirection: column,
          @justifyContent: space-between,
          @margin: 0 1rem 1rem 1rem,
          @fontSize: 2rem,
          @width: 50%
        );
        .character__statsContainer__half__stat {
          .character__statsContainer__half__stat__value {
            font-size: 1.5rem;
            width: 60%;
            float: right;
          }
        }
      }
      #levelxp__interior {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 50%;
      }
      #levelxp {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }
    }
    .character__symbols {
      .containers(@flexDirection: row, @justifyContent: space-around, @height: 15%);
      .character__symbols__symbol {
        .containers(@width: 6.25rem, @height: 6.25rem);
        .symbols(@margin: 0, @backgroundSize: 6.25rem);
        .character__symbols__symbol__stat {
          position: relative;
          font-size: 2rem;
        }
      }
    }
    .character__gear {
      display: flex;
      flex-direction: column;
      width: 90%;
      height: 40%;
      .character__gear__title {
        .titles(@fontSize: 3rem, @margin: 1rem 0, @height: auto);
      }
      .character__gear__items {
        .containers(@flexDirection: row, @justifyContent: space-around, @alignItems: stretch);
        flex-wrap: wrap;
        .character__gear__items__item {
          font-size: 1.5rem;
          padding: 0.2rem;
          width: 50%;
        }
      }
    }
    .character__options {
      .containers(@height: 15%, @width: 90%, @justifyContent: space-around, @flexDirection: row);
      .character__options__buttons {
        border: 0;
        width: 3%;
        height: 6rem;
        margin: 0.3rem;
        background-color: black;
        color: white;
        font-size: 2rem;
        font-family: Papyrus, fantasy;
        border-radius: 25rem;
      }
      .character__options__buttons:hover {
        cursor: pointer;
        background-color: white;
        color: black;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (min-height: 1024px) {
  .character {
    .containers(@width: 100vw, @height: 100vh);
    .character__title {
      .titles(@fontSize: 5rem, @margin: 2rem 0 0 0, @height: 15%);
    }
    .character__statsContainer {
      .containers(@flexDirection: row, @alignItems: space-around, @width: 90%, @height: 20%);
      .character__statsContainer__half {
        .containers(
          @flexDirection: column,
          @justifyContent: space-between,
          @margin: 0 1rem 1rem 1rem,
          @fontSize: 2rem,
          @width: 50%
        );
        .character__statsContainer__half__stat {
          .character__statsContainer__half__stat__value {
            font-size: 2rem;
            width: 60%;
            float: right;
          }
        }
      }
      #levelxp__interior {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 50%;
      }
      #levelxp {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }
    }
    .character__symbols {
      .containers(@flexDirection: row, @justifyContent: space-around, @height: 15%);
      .character__symbols__symbol {
        .containers(@width: 6.25rem, @height: 6.25rem);
        .symbols(@margin: 0, @backgroundSize: 6.25rem);
        .character__symbols__symbol__stat {
          position: relative;
          font-size: 4rem;
        }
      }
    }
    .character__gear {
      display: flex;
      flex-direction: column;
      width: 75%;
      height: 20%;
      .character__gear__title {
        align-self: center;
        font-size: 3rem;
        padding: 1rem 0 0 0;
      }
      .character__gear__items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        .character__gear__items__item {
          font-size: 1.5rem;
          padding: 0.2rem;
          width: 40%;
          align-self: auto;
        }
      }
    }
    .character__options {
      height: 20%;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .character__options__buttons {
        border: 0;
        width: 30%;
        height: 6rem;
        margin: 0.3rem;
        background-color: black;
        color: white;
        font-size: 2rem;
        font-family: Papyrus, fantasy;
        border-radius: 25rem;
      }
      .character__options__buttons:hover {
        cursor: pointer;
        background-color: white;
        color: black;
      }
    }
  }
}
