.StartContainer {
  height: 100vh;
  width: 100vw;
  font-family: Papyrus, fantasy;
  .StartBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 95%;
    .StartTitle {
      font-size: 6rem;
    }
    .StartButton {
      border: 0;
      width: 8rem;
      background-color: black;
      color: white;
      font-size: 2rem;
      font-family: Papyrus, fantasy;
      border-radius: 25rem;
    }
    .StartButton:hover {
      cursor: pointer;
      background-color: white;
      color: black;
    }
  }
  .StartFooter {
    align-self: flex-start;
    padding-left: 1rem;
    font-size: 1.5rem;
  }
}
