.AdventureContainer .AdventureBody {
  display: flex;
  flex-direction: row;
}
.AdventureContainer .AdventureBody .AdventureLeft {
  min-width: 10%;
}
.AdventureContainer .AdventureBody .AdventureCenter .AdventurePNC {
  display: inline-block;
  height: 600px;
  width: 1000px;
}
.AdventureContainer .AdventureBody .AdventureRight {
  min-width: 20%;
}
