@media (min-width: 320px) {
  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    font-family: Papyrus, fantasy;
    font-size: 2rem;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
  .bottom .bottom__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: Papyrus, fantasy;
    font-size: 2rem;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
  .bottom .bottom__main .clickable:hover {
    cursor: pointer;
  }
  .bottom .bottom__main .bottom__main__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    line-height: 1;
    padding: 0;
    margin: 0;
    width: 15rem;
    height: 5rem;
    border: none;
    border-radius: 10rem;
    background-color: black;
    color: lightgrey;
    font-size: 2rem;
    font-family: Papyrus, fantasy;
  }
  .bottom .bottom__main .bottom__main__options:hover {
    cursor: pointer;
    background-color: lightgrey;
    color: black;
  }
  .bottom .bottom__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: Papyrus, fantasy;
    font-size: 2rem;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
  .bottom .bottom__intro .bottom__intro__title {
    height: 10%;
    font-size: 3rem;
    margin: 0;
  }
  .bottom .bottom__intro .bottom__intro__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 95%;
    font-family: Papyrus, fantasy;
    font-size: 1.15rem;
    line-height: 1.2;
    padding: 0;
    margin: 0;
  }
  .bottom .bottom__intro .bottom__intro__button {
    width: 10rem;
    height: 10%;
    border: none;
    border-radius: 25rem;
    background-color: black;
    color: lightgrey;
    font-size: 2rem;
    font-family: Papyrus, fantasy;
  }
  .bottom .bottom__intro .bottom__intro__button:hover {
    cursor: pointer;
    background-color: lightgrey;
    color: black;
  }
}
@media (min-width: 480px) {
  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    font-family: Papyrus, fantasy;
    font-size: 2rem;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
  .bottom .bottom__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: Papyrus, fantasy;
    font-size: 2rem;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
  .bottom .bottom__main .clickable:hover {
    cursor: pointer;
  }
  .bottom .bottom__main .bottom__main__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    line-height: 1;
    padding: 0;
    margin: 0;
    width: 15rem;
    height: 5rem;
    border: none;
    border-radius: 10rem;
    background-color: black;
    color: lightgrey;
    font-size: 2rem;
    font-family: Papyrus, fantasy;
  }
  .bottom .bottom__main .bottom__main__options:hover {
    cursor: pointer;
    background-color: lightgrey;
    color: black;
  }
  .bottom .bottom__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: Papyrus, fantasy;
    font-size: 2rem;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
  .bottom .bottom__intro .bottom__intro__title {
    height: 10%;
    font-size: 2rem;
    margin: 0;
  }
  .bottom .bottom__intro .bottom__intro__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 95%;
    font-family: Papyrus, fantasy;
    font-size: 1.15rem;
    line-height: 1.2;
    padding: 0;
    margin: 0;
  }
  .bottom .bottom__intro .bottom__intro__button {
    width: 10rem;
    height: 10%;
    border: none;
    border-radius: 25rem;
    background-color: black;
    color: lightgrey;
    font-size: 1.5rem;
    font-family: Papyrus, fantasy;
  }
  .bottom .bottom__intro .bottom__intro__button:hover {
    cursor: pointer;
    background-color: lightgrey;
    color: black;
  }
}
@media (min-width: 640px) {
  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    font-family: Papyrus, fantasy;
    font-size: 2rem;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
  .bottom .bottom__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: Papyrus, fantasy;
    font-size: 2rem;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
  .bottom .bottom__main .clickable:hover {
    cursor: pointer;
  }
  .bottom .bottom__main .bottom__main__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    line-height: 1;
    padding: 0;
    margin: 0;
    width: 15rem;
    height: 5rem;
    border: none;
    border-radius: 10rem;
    background-color: black;
    color: lightgrey;
    font-size: 2rem;
    font-family: Papyrus, fantasy;
  }
  .bottom .bottom__main .bottom__main__options:hover {
    cursor: pointer;
    background-color: lightgrey;
    color: black;
  }
  .bottom .bottom__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: Papyrus, fantasy;
    font-size: 2rem;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
  .bottom .bottom__intro .bottom__intro__title {
    height: 10%;
    font-size: 3rem;
    margin: 0;
  }
}
@media screen and (min-width: 640px) and (min-height: 1024px) {
  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    font-family: Papyrus, fantasy;
    font-size: 2rem;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
  .bottom .bottom__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: Papyrus, fantasy;
    font-size: 2rem;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
  .bottom .bottom__main .clickable:hover {
    cursor: pointer;
  }
  .bottom .bottom__main .bottom__main__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    line-height: 1;
    padding: 0;
    margin: 0;
    width: 15rem;
    height: 5rem;
    border: none;
    border-radius: 10rem;
    background-color: black;
    color: lightgrey;
    font-size: 2rem;
    font-family: Papyrus, fantasy;
  }
  .bottom .bottom__main .bottom__main__options:hover {
    cursor: pointer;
    background-color: lightgrey;
    color: black;
  }
  .bottom .bottom__intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: Papyrus, fantasy;
    font-size: 2rem;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
  .bottom .bottom__intro .bottom__intro__title {
    height: 5%;
    font-size: 6rem;
    margin: 2rem 0;
  }
  .bottom .bottom__intro .bottom__intro__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 75%;
    font-family: Papyrus, fantasy;
    font-size: 2rem;
    line-height: 1.25;
    padding: 0;
    margin: 0;
  }
  .bottom .bottom__intro .bottom__intro__button {
    width: 10rem;
    height: 3rem;
    border: none;
    border-radius: 25rem;
    background-color: black;
    color: lightgrey;
    font-size: 2rem;
    font-family: Papyrus, fantasy;
  }
  .bottom .bottom__intro .bottom__intro__button:hover {
    cursor: pointer;
    background-color: lightgrey;
    color: black;
  }
}
@media (min-width: 1024px) {
  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    font-family: Papyrus, fantasy;
    font-size: 2rem;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
  .bottom .bottom__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: Papyrus, fantasy;
    font-size: 2rem;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
  .bottom .bottom__main .clickable:hover {
    cursor: pointer;
  }
  .bottom .bottom__main .main {
    height: 80%;
    width: 100%;
  }
  .bottom .bottom__main .bottom__main__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    line-height: 1;
    padding: 0;
    margin: 0;
    width: 15rem;
    height: 5rem;
    border: none;
    border-radius: 10rem;
    background-color: black;
    color: lightgrey;
    font-size: 2rem;
    font-family: Papyrus, fantasy;
  }
  .bottom .bottom__main .bottom__main__options:hover {
    cursor: pointer;
    background-color: lightgrey;
    color: black;
  }
  .bottom .bottom__intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: Papyrus, fantasy;
    font-size: 2rem;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
  .bottom .bottom__intro .bottom__intro__title {
    height: 10%;
    font-size: 6rem;
    margin: 2rem 0;
  }
  .bottom .bottom__intro .bottom__intro__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 80%;
    font-family: Papyrus, fantasy;
    font-size: 2rem;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
  .bottom .bottom__intro .bottom__intro__button {
    width: 10rem;
    height: 3rem;
    border: none;
    border-radius: 25rem;
    background-color: black;
    color: lightgrey;
    font-size: 2rem;
    font-family: Papyrus, fantasy;
  }
  .bottom .bottom__intro .bottom__intro__button:hover {
    cursor: pointer;
    background-color: lightgrey;
    color: black;
  }
}
