.character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: Papyrus, fantasy;
}
.character .character__title {
  font-size: 4rem;
  padding: 2rem;
  height: 15%;
}
.character .character__statsContainer {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  width: 80%;
  height: 30%;
}
.character .character__statsContainer .character__statsContainer__half {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem 1rem 1rem;
  font-size: 2rem;
  width: 50%;
}
.character .character__statsContainer .character__statsContainer__half .character__statsContainer__half__stat {
  padding: 1rem;
  align-items: center;
}
.character .character__statsContainer .character__statsContainer__half .character__statsContainer__half__stat .character__statsContainer__half__stat__value {
  padding-left: 1rem;
  font-size: 2rem;
  width: 50%;
  float: right;
}
.character .character__statsContainer #levelxp__interior {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.character .character__statsContainer #levelxp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.character .character__symbols {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 15%;
}
.character .character__symbols .character__symbols__symbol {
  width: 6.25rem;
  height: 6.25rem;
  margin: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.character .character__symbols .character__symbols__symbol .chracter__symbols__symbol__stat {
  position: relative;
  font-size: 2rem;
}
.character .character__gear {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 20%;
}
.character .character__gear .character__gear__title {
  align-self: center;
  font-size: 3rem;
  padding: 1rem 0 0 0;
}
.character .character__gear .character__gear__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.character .character__gear .character__gear__items .character__gear__items__item {
  font-size: 1.5rem;
  padding: 0.2rem;
  width: 40%;
  align-self: auto;
}
.character .character__options {
  height: 20%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.character .character__options .character__options__buttons {
  border: 0;
  width: 20%;
  height: 6rem;
  margin: 0.3rem;
  background-color: black;
  color: white;
  font-size: 2rem;
  font-family: Papyrus, fantasy;
  border-radius: 25rem;
}
.character .character__options .character__options__buttons:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
