.CSContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: Papyrus, fantasy;
}
.CSContainer .CSTitle {
  font-size: 4rem;
  padding: 2rem;
  height: 15%;
}
.CSContainer .CSStats {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  width: 80%;
  height: 30%;
}
.CSContainer .CSStats .CSStatsHalf {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem 1rem 1rem;
  font-size: 2rem;
  width: 50%;
}
.CSContainer .CSStats .CSStatsHalf .CSStat {
  padding: 1rem;
  align-items: center;
}
.CSContainer .CSStats .CSStatsHalf .CSStat .CSStats {
  padding-left: 1rem;
  font-size: 2rem;
  width: 50%;
  float: right;
}
.CSContainer .CSStats #level {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.CSContainer .CSStats #cslevel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.CSContainer .CSSymbols {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 15%;
}
.CSContainer .CSSymbols .CSSymbol {
  width: 6.25rem;
  height: 6.25rem;
  margin: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CSContainer .CSSymbols .CSSymbol .CSSymbolStat {
  position: relative;
  font-size: 2rem;
}
.CSContainer .CSGear {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 20%;
}
.CSContainer .CSGear .CSGearTitle {
  align-self: center;
  font-size: 3rem;
  padding: 1rem 0 0 0;
}
.CSContainer .CSGear .CSGearItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.CSContainer .CSGear .CSGearItems .CSGearItem {
  font-size: 1.5rem;
  padding: 0.2rem;
  width: 40%;
  align-self: auto;
}
.CSContainer .CSOptions {
  height: 20%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.CSContainer .CSOptions .CSButtonRoll {
  border: 0;
  width: 20%;
  height: 3rem;
  margin: 0.3rem;
  background-color: black;
  color: white;
  font-size: 2rem;
  font-family: Papyrus, fantasy;
  border-radius: 25rem;
}
.CSContainer .CSOptions .CSButtonRoll:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
.CSContainer .CSOptions .CSButtonAdv {
  border: 0;
  width: 40%;
  height: 3rem;
  margin: 0.3rem;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  font-family: Papyrus, fantasy;
  border-radius: 25rem;
}
.CSContainer .CSOptions .CSButtonAdv:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
.CSContainer .CSOptions .CSButtonChoose {
  border: 0;
  width: 40%;
  height: 3rem;
  margin: 0.3rem;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  font-family: Papyrus, fantasy;
  border-radius: 25rem;
}
.CSContainer .CSOptions .CSButtonChoose:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
