.NavbarContainer {
  font-family: Papyrus, fantasy;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem 0;
  border-bottom: 0.2rem solid black;
}
.NavbarContainer .NavbarLeft .NavbarLogo {
  height: 3rem;
  width: 3rem;
}
.NavbarContainer .NavbarRight {
  display: flex;
  flex-direction: row;
}
.NavbarContainer .NavbarRight .NavbarIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}
.NavbarContainer .NavbarRight .NavbarIcon .NavbarImages {
  height: 2rem;
  width: 2rem;
}
.NavbarContainer .NavbarRight .NavbarIcon:hover {
  background: lightgrey;
  border-radius: 25rem;
}
