@media (min-width: 320px) {
  .PopUpContainer {
    position: absolute;
    background: lightgray;
    border: 0.5rem solid black;
    z-index: 5;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
  }
  .PopUpContainer .PopUpOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    font-family: Papyrus, fantasy;
    font-size: 2rem;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
  .PopUpContainer .PopUpOptions .PopUpButton {
    width: 30%;
    height: auto;
    border: none;
    border-radius: 25rem;
    background-color: black;
    color: lightgrey;
    font-size: 1rem;
    font-family: Papyrus, fantasy;
  }
  .PopUpContainer .PopUpOptions .PopUpButton:hover {
    cursor: pointer;
    background-color: lightgrey;
    color: black;
  }
}
@media screen and (min-width: 640px) and (min-height: 1024px) {
  .PopUpContainer {
    position: absolute;
    background: lightgray;
    border: 0.5rem solid black;
    z-index: 5;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
  }
  .PopUpContainer .PopUpOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    font-family: Papyrus, fantasy;
    font-size: 2rem;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
  .PopUpContainer .PopUpOptions .PopUpButton {
    width: 30%;
    height: auto;
    border: none;
    border-radius: 25rem;
    background-color: black;
    color: lightgrey;
    font-size: 2rem;
    font-family: Papyrus, fantasy;
  }
  .PopUpContainer .PopUpOptions .PopUpButton:hover {
    cursor: pointer;
    background-color: lightgrey;
    color: black;
  }
}
@media (min-width: 1024px) {
  .PopUpContainer {
    position: absolute;
    background: lightgray;
    border: 0.5rem solid black;
    z-index: 5;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
  }
  .PopUpContainer .PopUpOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    font-family: Papyrus, fantasy;
    font-size: 2rem;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
  .PopUpContainer .PopUpOptions .PopUpButton {
    width: 30%;
    height: auto;
    border: none;
    border-radius: 25rem;
    background-color: black;
    color: lightgrey;
    font-size: 1rem;
    font-family: Papyrus, fantasy;
  }
  .PopUpContainer .PopUpOptions .PopUpButton:hover {
    cursor: pointer;
    background-color: lightgrey;
    color: black;
  }
}
@media screen and (min-width: 1024px) and (min-height: 1024px) {
  .PopUpContainer {
    position: absolute;
    background: lightgray;
    border: 0.5rem solid black;
    z-index: 5;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
  }
  .PopUpContainer .PopUpOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    font-family: Papyrus, fantasy;
    font-size: 2rem;
    line-height: 1;
    padding: 0;
    margin: 0;
  }
  .PopUpContainer .PopUpOptions .PopUpButton {
    width: 30%;
    height: auto;
    border: none;
    border-radius: 25rem;
    background-color: black;
    color: lightgrey;
    font-size: 2rem;
    font-family: Papyrus, fantasy;
  }
  .PopUpContainer .PopUpOptions .PopUpButton:hover {
    cursor: pointer;
    background-color: lightgrey;
    color: black;
  }
}
