.PopUpContainer {
  position: absolute;
  background: lightgray;
  border: 0.5rem solid black;
  z-index: 5;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
}
.PopUpContainer .PopUpOptions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.PopUpContainer .PopUpOptions .PopUpButton {
  cursor: pointer;
  background-color: black;
  border: 0;
  color: white;
  font-family: Papyrus, fantasy;
  font-size: 1rem;
  border-radius: 5rem;
  width: 30%;
}
.PopUpContainer .PopUpOptions .PopUpButton:hover {
  background: white;
  color: black;
}
